<h1>Here's your Shouts!</h1>

<% @shouts.each do |shout| %>
<div class="shout">
  <%= render 'shout', shout: shout %> 
</div>
<% end %>

<br>
	
<%= link_to 'New Shout', new_user_shout_path %> |
<%= link_to 'User List', root_path %> |
<%= link_to 'Login', new_user_session_path %>
